OnBreakWeb/Connected Services/WebServices/OBServicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadAllClientes">
        <s:complexType />
      </s:element>
      <s:element name="ReadAllClientesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadAllClientesResult" type="tns:ArrayOfCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Cliente" nillable="true" type="tns:Cliente" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Cliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RutCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreContacto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MailContacto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdActividadEmpresa" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTipoEmpresa" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReadCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rutCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadClienteResult" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente" type="tns:Cliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rutCliente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteClienteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ReadAllClientesSoapIn">
    <wsdl:part name="parameters" element="tns:ReadAllClientes" />
  </wsdl:message>
  <wsdl:message name="ReadAllClientesSoapOut">
    <wsdl:part name="parameters" element="tns:ReadAllClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ReadClienteSoapIn">
    <wsdl:part name="parameters" element="tns:ReadCliente" />
  </wsdl:message>
  <wsdl:message name="ReadClienteSoapOut">
    <wsdl:part name="parameters" element="tns:ReadClienteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateClienteSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCliente" />
  </wsdl:message>
  <wsdl:message name="UpdateClienteSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClienteResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteClienteSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCliente" />
  </wsdl:message>
  <wsdl:message name="DeleteClienteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="OBServiciosSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllClientes">
      <wsdl:input message="tns:ReadAllClientesSoapIn" />
      <wsdl:output message="tns:ReadAllClientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadCliente">
      <wsdl:input message="tns:ReadClienteSoapIn" />
      <wsdl:output message="tns:ReadClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <wsdl:input message="tns:UpdateClienteSoapIn" />
      <wsdl:output message="tns:UpdateClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <wsdl:input message="tns:DeleteClienteSoapIn" />
      <wsdl:output message="tns:DeleteClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OBServiciosSoap" type="tns:OBServiciosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllClientes">
      <soap:operation soapAction="http://tempuri.org/ReadAllClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCliente">
      <soap:operation soapAction="http://tempuri.org/ReadCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <soap:operation soapAction="http://tempuri.org/UpdateCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <soap:operation soapAction="http://tempuri.org/DeleteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OBServiciosSoap12" type="tns:OBServiciosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllClientes">
      <soap12:operation soapAction="http://tempuri.org/ReadAllClientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadCliente">
      <soap12:operation soapAction="http://tempuri.org/ReadCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <soap12:operation soapAction="http://tempuri.org/UpdateCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <soap12:operation soapAction="http://tempuri.org/DeleteCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OBServicios">
    <wsdl:port name="OBServiciosSoap" binding="tns:OBServiciosSoap">
      <soap:address location="http://localhost:64893/OBServicios.asmx" />
    </wsdl:port>
    <wsdl:port name="OBServiciosSoap12" binding="tns:OBServiciosSoap12">
      <soap12:address location="http://localhost:64893/OBServicios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>